<%-- 
Name: EditModule.ascx.designer.cs.cst
Author: Keith Stone
Description: Generates the partial class for the C# Designer
Revision: 2014.02.17
Note: For the latest version of this template, http://www.crewstone.com		
--%>
<%@ CodeTemplate Language="C#"  Src="DNNMaster.CodeBehind.cs" Inherits="_Main" TargetLanguage="C#" Debug="False" CompilerVersion="v3.5" Description="Template description here." %>
<%@ Property Category="Naming Convention" Name="ModuleName" Type="System.String" Default="" Description="" %>
<%@ Property Category="Naming Convention" Name="CompanyName" Type="System.String" Default="YourCompany" Description="Used to generate the copyright declaration." %>
<%@ Property Category="Naming Convention" Name="Namespace" Type="System.String" Default="NameSpace"  Description="Used to generate the Namespace declaration." %>
<%@ Property Category="Naming Convention" Name="FriendlyName" Type="System.String" Default="Your Module" Description="Descriptive module name" %>
<%@ Property Category="Datasource" Name="SourceTable" Type="SchemaExplorer.TableSchema" Description="Table that the object is based on." %>
<%@ Property Category="DataSource" Name="ObjectQualifier" Type="System.String" Default="" Optional="True" Description="Prefix for objects to be generated." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
/*
' Copyright (c) <%= DateTime.Now.Year.ToString() %> <%=CompanyName%>
'  All rights reserved.
' 
' THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
' TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
' THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
' CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
' DEALINGS IN THE SOFTWARE.
' 
*/
namespace <%=Namespace%>.Modules.<%=ModuleName%>
{
    public partial class Edit<%=GetTableName(SourceTable)%>
	{
	
		/// <summary>
        /// pnl<%=GetTableName(SourceTable)%>Display" control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Panel pnl<%=GetTableName(SourceTable)%>Display;	
        
		/// <summary>
        /// pnlAddEdit<%=GetTableName(SourceTable)%>.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Panel pnlAddEdit<%=GetTableName(SourceTable)%>;	
		
		/// <summary>
        /// lbl<%=GetTableName(SourceTable)%>Display control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Label lbl<%=GetTableName(SourceTable)%>Display;
		
		/// <summary>
        /// dgr<%=GetTableName(SourceTable)%> control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.DataGrid dgr<%=GetTableName(SourceTable)%>;		
        
        /// <summary>
        /// lbldgr<%=GetTableName(SourceTable)%>_NoData control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Label lbl<%=GetTableName(SourceTable)%>_NoData;
        
        /// <summary>
        /// btnAdd<%=GetTableName(SourceTable)%> control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Button btnAdd<%=GetTableName(SourceTable)%>;
        
        /// <summary>
        /// lblAddEdit<%=GetTableName(SourceTable)%> control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Label lblAddEdit<%=GetTableName(SourceTable)%>;
        
        /// <summary>
        /// btnSave control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Button btnSave;
        
        /// <summary>
        /// btnCancel control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Button btnCancel;
		
        
        /// <summary>
        /// hlReturn HyperLink control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.HyperLink hlReturn;		
		

	<%for(int i = 0; i < SourceTable.Columns.Count; i++) {
		bool portal = ((SourceTable.Columns[i].Name.ToLower()=="portalid") ? true : false);
		bool module = ((SourceTable.Columns[i].Name.ToLower()=="moduleid") ? true : false);%>
		<%if (SourceTable.Columns[i].IsPrimaryKeyMember | portal | module){ %>
        /// <summary>
        /// lbl<%=SourceTable.Columns[i].Name%> control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
        protected global::System.Web.UI.WebControls.Label lbl<%=SourceTable.Columns[i].Name%>;	
		<%} else {%>
		/// <summary>
        /// <%=SourceTable.Columns[i].Name%> control.
        /// </summary>
        /// <remarks>
        /// Auto-generated field.
        /// To modify move field declaration from designer file to code-behind file.
        /// </remarks>
		<%=GetInputEditControlsDesigner(SourceTable.Columns[i], "cs")%>
		
		<%}%>
		
	<%}%>

	}
}
