<%-- 
Name: ITableRepository.cs.cst
Author: Keith Stone
Description: Generates the DNN ITableRepository Class for C#
Revision: 2016.02.02
Note: For the latest version of this template, http://www.crewstone.com		
--%>
<%@ CodeTemplate Language="C#" Src="DNNMaster.CodeBehind.cs" Inherits="_Main" TargetLanguage="C#" Description="Generates the DNN ITableRepository Class for C#" %>
<%@ Property Category="Naming Convention" Name="ModuleName" Type="System.String" Default="YourModule" Description="Module Name" %>
<%@ Property Category="Naming Convention" Name="FriendlyName" Type="System.String" Default="Your Module" Description="Descriptive module name" %>
<%@ Property Category="Naming Convention" Name="Namespace" Type="System.String" Default="Namespace" Description="Used to generate the Namespace declaration, no spaces or punctuation" %>
<%@ Property Category="Naming Convention" Name="CompanyName" Type="System.String" Default="YourCompany" Description="Descriptive name to generate the copyright declaration and documentation." %>
<%@ Property Category="DataSource" Name="SourceTable" Type="SchemaExplorer.TableSchema" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
/*
' Module: <%=FriendlyName%>
' Copyright (c) <%= DateTime.Now.Year.ToString() %> <%=CompanyName%>
'  All rights reserved.
' 
' THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
' TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
' THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
' CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
' DEALINGS IN THE SOFTWARE.
' 
*/
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using <%= Namespace %>.Modules.<%=ModuleName%>.Entities;

namespace <%= Namespace %>.Modules.<%=ModuleName%>.Components
{
    public interface I<%= GetTableName(SourceTable) %>Repository
    {
        ///<summary>
        /// Clear change for <%= GetTableName(SourceTable) %> for module scope
        ///</summary>
        <% if(SourceTable.Columns.Contains("moduleId")) {%>
        void ClearCache(int moduleId);
        <%  } else if (SourceTable.Columns.Contains("portalId")) { %>
        void ClearCache(int portalId);
        <% } %>
        
        ///<summary>
        /// Create a new <%= GetTableName(SourceTable) %>
        ///</summary>
        int Create<%= GetTableName(SourceTable) %>(I<%= GetTableName(SourceTable) %>Model t);

        <% if(SourceTable.PrimaryKey.MemberColumns.Count == 1) { %>
        ///<summary>
        /// Delete a single <%= GetTableName(SourceTable) %> based on key
        ///</summary>
        <% if(SourceTable.Columns.Contains("moduleId")) {%>
        void Delete<%= GetTableName(SourceTable) %>(int <%= GetPrimaryKeyName(SourceTable) %>, int moduleId);
        <%  } else if (SourceTable.Columns.Contains("portalId")) { %>
        void Delete<%= GetTableName(SourceTable) %>(int <%= GetPrimaryKeyName(SourceTable) %>, int portalId);
        <% } else { %>
        void Delete<%= GetTableName(SourceTable) %>(int <%= GetPrimaryKeyName(SourceTable) %>);
        <% } %>
        <% } %>
        
        ///<summary>
        /// Delete a single <%= GetTableName(SourceTable) %> based on object
        ///</summary>
        void Delete<%= GetTableName(SourceTable) %>(I<%= GetTableName(SourceTable) %>Model t);
        
        ///<summary>
        /// Retrieve all <%= GetTableName(SourceTable) %>s for module
        ///</summary>
        <% if(SourceTable.Columns.Contains("moduleId")) {%>
        IEnumerable<I<%= GetTableName(SourceTable) %>Model> Get<%= GetTableName(SourceTable) %>s(int moduleId);
        <%  } else if (SourceTable.Columns.Contains("portalId")) { %>
        IEnumerable<I<%= GetTableName(SourceTable) %>Model> Get<%= GetTableName(SourceTable) %>s(int portalId);
        <% } else { %>
        IEnumerable<I<%= GetTableName(SourceTable) %>Model> Get<%= GetTableName(SourceTable) %>s();
        <% } %>

        <% foreach(IndexSchema index in SourceTable.Indexes) { %>
        <%     if(!index.IsPrimaryKey) { %>
        ///<summary>
        /// Retrieve all <%= GetTableName(SourceTable) %>s for module by <%= GetIndexParameters(index.MemberColumns,false,"cs") %>
        ///</summary>
        IEnumerable<I<%= GetTableName(SourceTable) %>Model> Get<%= GetTableName(SourceTable) %>sBy<%= index.Name%>(<%= GetIndexParameters(index.MemberColumns,true,"cs") %>);
        <%     } %>
        <% } %>
            
        <% if(SourceTable.PrimaryKey.MemberColumns.Count == 1) { %>
        ///<summary>
        /// Retrieve a single <%= GetTableName(SourceTable) %>
        ///</summary>
        <% if(SourceTable.Columns.Contains("moduleId")) {%>
        I<%= GetTableName(SourceTable) %>Model Get<%= GetTableName(SourceTable) %>(int <%= GetPrimaryKeyName(SourceTable) %>, int moduleId);
        <%  } else if (SourceTable.Columns.Contains("portalId")) { %>
        I<%= GetTableName(SourceTable) %>Model Get<%= GetTableName(SourceTable) %>(int <%= GetPrimaryKeyName(SourceTable) %>, int portalId);
        <% } else { %>
        I<%= GetTableName(SourceTable) %>Model Get<%= GetTableName(SourceTable) %>(int <%= GetPrimaryKeyName(SourceTable) %>);
        <% } %>
        <% } %>
        
        ///<summary>
        /// Update a single <%= GetTableName(SourceTable) %>
        ///</summary>
        void Update<%= GetTableName(SourceTable) %>(I<%= GetTableName(SourceTable) %>Model t);
    }
}
