<%-- 
Name: ListModule.ascx.cst
Author: Keith Stone
Description: Generates the DotNetNuke List[ModuleName].ascx for C# and VB
Revision: 2014.05.04
Note: For the latest version of this template, http://www.crewstone.com		
--%>

<%@ CodeTemplate Language="C#" Src="DNNMaster.CodeBehind.cs" Inherits="_Main" TargetLanguage="VB.NET" Description="Generates the List[ModuleName].ascx web control." %>
<%@ Property Category="Auditing" Name="DateCreated" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the date/time a row was created" %>
<%@ Property Category="Auditing" Name="CreatedBy" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the DNN userid that created a row" %>
<%@ Property Category="Auditing" Name="DateUpdated" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the date/time a row was updated" %>
<%@ Property Category="Auditing" Name="UpdatedBy" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the DNN userid that updated a row" %>
<%@ Property Category="DataSource" Name="SourceTable" Type="SchemaExplorer.TableSchema" Description="Table that the object is based on." %>
<%@ Property Category="DataSource" Name="ObjectQualifier" Type="System.String" Default="" Optional="True" Description="Prefix for objects to be generated." %>
<%@ Property Category="DotNetNuke Options" Name="Language" Type="System.String" Default="vb" Optional="True" Description="vb for Visual Basic, cs for CSharp" %>
<%@ Property Category="Naming Convention" Name="Namespace" Type="System.String" Default="NameSpace" Description="Used to generate the Namespace declaration." %>
<%@ Property Category="Naming Convention" Name="CompanyName" Type="System.String" Default="YourCompany" Description="Used to generate the copyright declaration." %>
<%@ Property Category="Naming Convention" Name="ModuleName" Type="System.String" Default="YourModule" Description="" %>
<%@ Property Category="Naming Convention" Name="FriendlyName" Type="System.String" Default="Your Module" Description="Descriptive module name" %>
<%@ Property Category="Style" Name="InsertKeyword" Type="System.String" Default="Add" Description="Suffix to use for all generated INSERT stored procedures." %>
<%@ Property Category="Style" Name="UpdateKeyword" Type="System.String" Default="Update" Description="Suffix to use for all generated UPDATE stored procedures." %>
<%@ Property Category="Style" Name="DeleteKeyword" Type="System.String" Default="Delete" Description="Suffix to use for all generated DELETE stored procedures." %>
<%@ Property Category="Style" Name="ListKeyword" Type="System.String" Default="List" Description="Suffix to use for all generated SELECT stored procedures." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%
string ColumnName = "";
%>
<%%@ Control Language="<%=Language%>" AutoEventWireup="false" CodeBehind="List<%=GetTableName(SourceTable)%>.ascx.<%=Language%>" Inherits="<%= Namespace %>.Modules.<%=ModuleName%>.List<%=GetTableName(SourceTable)%>" %>
<%%@ Register TagPrefix="dnn" TagName="Label" Src="~/controls/LabelControl.ascx" %>
<%%@ Register TagPrefix="dnn" TagName="URL" Src="~/controls/URLControl.ascx" %>
<%%@ Register TagPrefix="dnn" Assembly="DotNetNuke" Namespace="DotNetNuke.UI.WebControls"  %>   
<%%@ Register TagPrefix="dnn" Assembly="DotNetNuke.Web" Namespace="DotNetNuke.Web.UI.WebControls" %>
<%%@ Register TagPrefix="dnn" TagName="TextEditor" Src="~/controls/TextEditor.ascx"%>
<%%@ Register TagPrefix="dnn" TagName="Audit" Src="~/controls/ModuleAuditControl.ascx" %>
<table  border="0">
	<tr>
		<td><asp:label id="lblSearch" cssclass="SubHead" meta:resourcekey="Search" runat="server">Search:</asp:label></td>
		<td Class="Normal" >
			<asp:textbox id="txtSearch" Runat="server"></asp:textbox>
			<asp:DropDownList id="ddlSearchType" Runat="server">
			<% 	for(int i = 0; i < SourceTable.Columns.Count; i++) { 
					if(!SourceTable.Columns[i].IsPrimaryKeyMember && ColumnName.ToLower() != "portalid" && ColumnName.ToLower() != "moduleid") { %>
				<asp:ListItem Value="<%=SourceTable.Columns[i].Name%>"><%=SourceTable.Columns[i].Name%></asp:ListItem>
			<% } } %>
			</asp:DropDownList>
			<asp:imagebutton id="btnSearch" Runat="server" ImageUrl="~/images/icon_search_16px.gif"></asp:imagebutton>
		</td>
	</tr>
	<tr><td colspan="3" ></td></tr>
</table>
      <asp:DataPager runat="server" ID="BeforeListDataPager"
        PagedControlID="ListView<%=GetTableName(SourceTable)%>" 
        PageSize="25" >
        <Fields>
          <asp:NextPreviousPagerField ButtonType="Image"
            ShowFirstPageButton="true"
            ShowNextPageButton="false"
            ShowPreviousPageButton="false"
            FirstPageImageUrl="../../images/begin.gif" />
          <asp:NumericPagerField ButtonCount="25" />
          <asp:NextPreviousPagerField ButtonType="Image"
            ShowLastPageButton="true"
            ShowNextPageButton="false"
            ShowPreviousPageButton="false"
            LastPageImageUrl="../../images/end.gif" />
        </Fields>
      </asp:DataPager>
<asp:ListView ID="ListView<%=GetTableName(SourceTable)%>" runat="server" 
    DataKeyNames="<%=GetPrimaryKeyParameters(SourceTable, false, "vb")%>"
    DataSourceID="<%=GetTableName(SourceTable)%>DataSource"
	ItemPlaceHolderId="<%=GetTableName(SourceTable)%>Content"
	OnItemDataBound="ListView<%=GetTableName(SourceTable)%>_ItemDataBound"
    EnableViewState="False">
    <LayoutTemplate>
		<div id="<%=GetTableName(SourceTable)%>Header">
			<h1 id="<%=GetTableName(SourceTable)%>Logo"><%=GetTableName(SourceTable)%> List</h1>
		</div>
		<div runat="server">
			<table>
				<thead>
					<tr>
<% 	for(int i = 0; i < SourceTable.Columns.Count && i < 8; i++)
	{
		ColumnName = SourceTable.Columns[i].Name;
		if(!SourceTable.Columns[i].IsPrimaryKeyMember && ColumnName.ToLower() != "portalid" && ColumnName.ToLower() != "moduleid")
		{
			if (GetLookupTable(SourceTable.Columns[i]).Length > 0) {%>
		      	<th><asp:Label runat="server" id="hdr<%=GetLookupValue(SourceTable.Columns[i],true)%>" Text='<%=GetLookupValue(SourceTable.Columns[i],true)%>' /></th>
		<% 	} else { %>
        		<th><asp:Label runat="server" id="hdr<%=ColumnName%>" Text='<%=ColumnName%>' /></th>
<%			}
		}
	}
%>	
					</tr>
				</thead>
				<tbody runat="server" id="<%=GetTableName(SourceTable)%>Content">
				</tbody>
			</table>
		</div>
	</LayoutTemplate>
	<ItemTemplate>
		<tr>
<% 	for(int i = 0; i < SourceTable.Columns.Count && i < 8; i++)
	{
		ColumnName = SourceTable.Columns[i].Name;
		if(!SourceTable.Columns[i].IsPrimaryKeyMember && ColumnName.ToLower() != "portalid" && ColumnName.ToLower() != "moduleid" )
		{
			if (GetLookupTable(SourceTable.Columns[i]).Length > 0) {%>
		      	<td><asp:Hyperlink runat="server" id="hyp<%=GetLookupValue(SourceTable.Columns[i],true)%>" Text='<%%# Eval("<%=GetLookupValue(SourceTable.Columns[i],true)%>") %>' /></td>
		<% 	} else { %>
        		<td><asp:Label runat="server" id="lbl<%=ColumnName%>" Text='<%%# Eval("<%=ColumnName%>") %>' /></td>
<%			}
		}
	}
%>
		</tr>
    </ItemTemplate>
    <EmptyDataTemplate>
        There are no <%=GetTableName(SourceTable)%> Records
    </EmptyDataTemplate>
</asp:ListView>
<br />

<asp:ObjectDataSource ID="<%=GetTableName(SourceTable)%>DataSource" runat="server" 
    DataObjectTypeName="<%= Namespace %>.Modules.<%=ModuleName%>.Entities.<%=GetTableName(SourceTable)%>Info"
    DeleteMethod="<%= GetMethodName(GetTableName(SourceTable), DeleteKeyword) %>" 
    InsertMethod="<%= GetMethodName(GetTableName(SourceTable), InsertKeyword) %>" 
    OldValuesParameterFormatString="original_{0}"
    SelectMethod="<%= GetMethodName(GetTableName(SourceTable), ListKeyword, true) %>"  
    TypeName="<%= Namespace %>.Modules.<%=ModuleName%>.Components.FeatureController"
    UpdateMethod="<%= GetMethodName(GetTableName(SourceTable), UpdateKeyword) %>"
	ConvertNullToDBNull="true">
<% if(SourceTable.Columns.Contains("portalId"))
{ %>
    <SelectParameters>
        <asp:Parameter DefaultValue="00" Name="PortalId" Type="Int32" />
    </SelectParameters>
<% } 
   if(SourceTable.Columns.Contains("moduleId"))
{ %>
    <SelectParameters>
        <asp:Parameter DefaultValue="00" Name="ModuleId" Type="Int32" />
    </SelectParameters>
<% } %>
    <InsertParameters>
		<% foreach (ColumnSchema column in SourceTable.PrimaryKey.MemberColumns) { %>
		<asp:Parameter Name="<%=column.Name%>" Type="<%=GetASPVariableType(column)%>" ConvertEmptyStringToNull="true" />
		<% } %>
		<% foreach (ColumnSchema column in SourceTable.NonPrimaryKeyColumns) { 
		   if (column.NativeType != "timestamp") { %>
		<asp:Parameter Name="<%=column.Name%>" Type="<%=GetASPVariableType(column)%>" ConvertEmptyStringToNull="true" />
		<% } } %>	
	</InsertParameters>
	<UpdateParameters>
		<% foreach (ColumnSchema column in SourceTable.PrimaryKey.MemberColumns) { %>
		<asp:Parameter Name="<%=column.Name%>" Type="<%=GetASPVariableType(column)%>" ConvertEmptyStringToNull="true" />
		<% } %>
		<% foreach (ColumnSchema column in SourceTable.NonPrimaryKeyColumns) { 
		   if (column.NativeType != "timestamp") { %>
		<asp:Parameter Name="<%=column.Name%>" Type="<%=GetASPVariableType(column) %>" ConvertEmptyStringToNull="true" />
		<% } } %>	
	</UpdateParameters>

</asp:ObjectDataSource>

<% for (int i = 0; i < SourceTable.Columns.Count; i++) { 
		if (GetLookupTable(SourceTable.Columns[i]).Length > 0) { %>
<asp:ObjectDataSource ID="<%=GetLookupTable(SourceTable.Columns[i],true)%>DataSource" runat="server" 
	DataObjectTypeName="<%= Namespace %>.Modules.<%=ModuleName%>.<%=GetLookupTable(SourceTable.Columns[i],true)%>Info"
	TypeName="<%= Namespace %>.Modules.<%=ModuleName%>.FeatureController"
	SelectMethod="<%= GetMethodName(GetLookupTable(SourceTable.Columns[i],true), ListKeyword, true) %>" 
	ConvertNullToDBNull="true">
	<% if(SourceTable.Columns.Contains("portalId"))
{ %>
    <SelectParameters>
        <asp:Parameter DefaultValue="00" Name="PortalId" Type="Int32" />
    </SelectParameters>
<% } 
   if(SourceTable.Columns.Contains("moduleId"))
{ %>
    <SelectParameters>
        <asp:Parameter DefaultValue="00" Name="ModuleId" Type="Int32" />
    </SelectParameters>
<% } %>
</asp:ObjectDataSource>
<% } } %>
<asp:Image ID="imgAjax" runat="server" ImageUrl="../../images/icon_wait.gif"  Visible="false" />
