<%-- 
Name: main.ascx.c#.cst
Author: Keith Stone
Description: Mainline ascx module for C# DotNetNuke modules
Revision: 2014.05.18
Note: For the latest version of this template, http://www.crewstone.com		
--%>
<%@ CodeTemplate Language="C#" Src="DNNMaster.CodeBehind.cs" Inherits="_Main" TargetLanguage="C#" Description="Generates the code-behind for the [ModuleName].ascx web control." %>
<%@ Property Category="DataSource" Name="MultiSourceTable" Type="SchemaExplorer.TableSchemaCollection" Description="Table that the object is based on." %>
<%@ Property Category="DataSource" Name="ObjectQualifier" Type="System.String" Default="" Optional="True" Description="Prefix for objects to be generated." %>
<%@ Property Category="Naming Convention" Name="Namespace" Type="System.String" Default="NameSpace" Description="Used to generate the Namespace declaration." %>
<%@ Property Category="Naming Convention" Name="CompanyName" Type="System.String" Default="YourCompany" Description="Used to generate the copyright declaration." %>
<%@ Property Category="Naming Convention" Name="ModuleName" Type="System.String" Default="" Description="" %>
<%@ Property Category="Naming Convention" Name="FriendlyName" Type="System.String" Default="Your Module" Description="Descriptive module name" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
/*
' Module: <%=FriendlyName%>
' Copyright (c) <%= DateTime.Now.Year.ToString() %> <%=CompanyName%>
'  All rights reserved.
' 
' THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
' TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
' THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
' CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
' DEALINGS IN THE SOFTWARE.
' 
*/
using DotNetNuke;
using DotNetNuke.Common;
using System.Web.UI;
using System.Collections.Generic;
using System.Reflection;
using DotNetNuke.Security.PortalSecurity;

namespace <%= Namespace %>.Modules.<%= ModuleName %>
{
    /// -----------------------------------------------------------------------------
    /// <summary>
    /// This class manages the mainline operation of the module
    /// </summary>
    /// <remarks>
    /// </remarks>
    /// <history>
    /// Generated by CodeSmith on <%= DateTime.Now.ToLongDateString() %>
    /// </history>
    // -----------------------------------------------------------------------------
public partial class <%= ModuleName %>Menu : <%= ModuleName %>ModuleBase, DotNetNuke.Entities.Modules.IActionable
	{
		<% foreach(SchemaExplorer.TableSchema SourceTable in MultiSourceTable)	{ %>
        protected System.Web.UI.WebControls.HyperLink hyp<%=GetTableName(SourceTable)%> 
		<% } %>

		protected void Page_Load(object sender, System.EventArgs e)
		{
			if (ModulePermissionController.HasModuleAccess(SecurityAccessLevel.Edit, "EDIT", ModInfo) {
				// AddItemButton.Enabled = True
			} else {
				// AddItemButton.Enabled = False
			}
            
			<% foreach(SchemaExplorer.TableSchema SourceTable in MultiSourceTable)
				{ %>
            hyp<%= GetTableName(SourceTable) %>.Text = Localization.GetString("MenuList<%= GetTableName(SourceTable) %>", LocalResourceFile);
            hyp<%= GetTableName(SourceTable) %>.NavigateUrl = DotNetNuke.Common.NavigateURL(TabId, "List<%= GetTableName(SourceTable) %>", "mid=" & ModuleId);
                   
			<% } %>

		}
        
        protected void Page_PreRender(object sender, EventArgs e)
        {
            ClientResourceManager.RegisterStyleSheet(this.Page, base.ControlPath + "Resources/css/module.css", 
                                                     DotNetNuke.Web.Client.FileOrder.Css.DefaultPriority);

            /* 
            ClientResourceManager.RegisterScript(this.Page, base.ControlPath + "Resources/js/knockout-2.2.1.js",
                                                 DotNetNuke.Web.Client.FileOrder.Js.jQuery);
                                                 
            ClientResourceManager.RegisterScript(this.Page, base.ControlPath + "Resources/js/view.js",
                                                 DotNetNuke.Web.Client.FileOrder.Js.DefaultPriority);
            */
        }

		#region "Base Method Implementations"

		#endregion

		#region "Optional Interfaces"
		public Entities.Modules.Actions.ModuleActionCollection ModuleActions {
			get {
				Entities.Modules.Actions.ModuleActionCollection Actions = new Entities.Modules.Actions.ModuleActionCollection();
				<% foreach(SchemaExplorer.TableSchema SourceTable in MultiSourceTable)
					{ %>
                    
				// Add Edit<%= GetTableName(SourceTable) %>
				if (DotNetNuke.Security.PortalSecurity.HasNecessaryPermission(SecurityAccessLevel.Edit, PortalSettings, ModuleConfiguration, UserId.ToString)) {
					Actions.Add(GetNextActionID(), Localization.GetString("MenuEdit<%= GetTableName(SourceTable) %>", LocalResourceFile), Entities.Modules.Actions.ModuleActionType.AddContent, , , EditUrl("Edit<%= GetTableName(SourceTable) %>"), false, DotNetNuke.Security.SecurityAccessLevel.Edit, true, false);
				} 
					<% } %>

				return Actions;
			}
		}

		#endregion
	}

}
