<%-- 
Name: ModuleBase.vb.cst
Author: Keith Stone
Description: Generates the DNN Module Base Class for VB.Net
Revision: 2014.04.11
Note: For the latest version of this template, http://www.crewstone.com		
--%>

<%@ CodeTemplate Language="C#" Src="DNNMaster.CodeBehind.cs" Inherits="_Main" TargetLanguage="VB" Description="Generates the DNN Module Info class." Debug="True" %>
<%@ Property Category="DataSource" Name="MultiSourceTable" Type="SchemaExplorer.TableSchemaCollection" Description="Table that the object is based on." %>
<%@ Property Category="DataSource" Name="ObjectQualifier" Type="System.String" Default="" Optional="True" Description="Prefix for objects to be generated." %>
<%@ Property Category="Naming Convention" Name="Namespace" Type="System.String" Default="NameSpace" Description="Used to generate the Namespace declaration." %>
<%@ Property Category="Naming Convention" Name="CompanyName" Type="System.String" Default="YourCompany" Description="Used to generate the copyright declaration." %>
<%@ Property Category="Naming Convention" Name="ModuleName" Type="System.String" Default="YourModule" Description="" %>
<%@ Property Category="Naming Convention" Name="FriendlyName" Type="System.String" Default="Your Module" Description="Descriptive module name" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
Option Explicit On

Imports System
Imports System.Configuration
Imports System.Data
Imports System.Xml.Serialization
Imports DotNetNuke

Namespace <%= Namespace %>.Modules.<%=ModuleName%>

    ''' <summary>
    ''' The feature base class for <%= ModuleName %>
    ''' </summary>
    ''' <remarks>
    ''' This class contains all the collections used for import and export processing
    ''' </remarks>
    ''' <history>
	''' Generated by CodeSmith on <%= DateTime.Now.ToLongDateString() %>
    ''' </history>
    ''' -----------------------------------------------------------------------------
Public Class <%=ModuleName%>ModuleBase
    Inherits DotNetNuke.Entities.Modules.PortalModuleBase

#Region "Private Members"
        Private _Module As DotNetNuke.Entities.Modules.ModuleInfo

        Public ReadOnly Property ModInfo() As DotNetNuke.Entities.Modules.ModuleInfo
            Get
                If _Module Is Nothing Then
                    _Module = New DotNetNuke.Entities.Modules.ModuleController().GetModule(ModuleId, TabId, False)
                End If
                Return _Module
            End Get
        End Property
        
<% foreach(SchemaExplorer.TableSchema SourceTable in MultiSourceTable) { %>
        ''' Private _<%=GetTableName(SourceTable)%>s As key type
<% } %>
#End Region
 
#Region "Public Properties"
<% foreach(SchemaExplorer.TableSchema SourceTable in MultiSourceTable) { %>
		''' 
		''' Gets the primary key from the query string for <%= GetTableName(SourceTable) %>
		'''
<% } %>
#End Region

    End Class

End Namespace

