<%-- 
Name: ViewModule.ascx.designer.cs.cst
Author: Keith Stone
Description: Generates the DotNetNuke View[ModuleName].designer.vb.ascx for VB
Revision: 2014.05.18
Note: For the latest version of this template, http://www.crewstone.com		
--%>
<%@ CodeTemplate Language="C#" Src="DNNMaster.CodeBehind.cs" Inherits="_Main" TargetLanguage="C#" Description="Generates the code-behind for the View[ModuleName].ascx web control." %>
<%@ Property Category="Auditing" Name="DateCreated" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the date/time a row was created" %>
<%@ Property Category="Auditing" Name="CreatedBy" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the DNN userid that created a row" %>
<%@ Property Category="Auditing" Name="DateUpdated" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the date/time a row was updated" %>
<%@ Property Category="Auditing" Name="UpdatedBy" Type="System.String" Default="" Optional="True" Description="The name of the field that designates the DNN userid that updated a row" %>
<%@ Property Category="DataSource" Name="SourceTable" Type="SchemaExplorer.TableSchema" Description="Table that the object is based on." %>
<%@ Property Category="DataSource" Name="ObjectQualifier" Type="System.String" Default="" Optional="True" Description="Prefix for objects to be generated." %>
<%@ Property Category="Naming Convention" Name="CompanyName" Type="System.String" Default="YourCompany" Description="Used to generate the Namespace declaration." %>
<%@ Property Category="Naming Convention" Name="ModuleName" Type="System.String" Default="YourModule" Description="" %>
<%@ Property Category="Naming Convention" Name="Namespace" Type="System.String" Default="NameSpace" Description="Used to generate the Namespace declaration." %>
<%@ Property Category="Naming Convention" Name="FriendlyName" Type="System.String" Default="Your Module" Description="Descriptive module name" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated by a tool.
//
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated>
//------------------------------------------------------------------------------

namespace <%= Namespace %>.Modules.<%=ModuleName%>
{
    public partial class View<%=GetTableName(SourceTable)%>
	{	
#Region "Private Members"
         
        ///<summary>
		///Form<%=GetTableName(SourceTable)%> control.
		///</summary>
		///<remarks>
		///Auto-generated field.
		///To modify move field declaration from designer file to code-behind file.
		///</remarks>
        protected global::System.Web.UI.WebControls.FormView Form<%=GetTableName(SourceTable)%>; 
        
        ///<summary>
		///<%=GetTableName(SourceTable)%>DataSource control.
		///</summary>
		///<remarks>
		///Auto-generated field.
		///To modify move field declaration from designer file to code-behind file.
		///</remarks>        
        protected global::System.Web.UI.WebControls.ObjectDataSource <%=GetTableName(SourceTable)%>DataSource; 
         
        ///<summary>
		///Grid<%=GetTableName(SourceTable)%> control.
		///</summary>
		///<remarks>
		///Auto-generated field.
		///To modify move field declaration from designer file to code-behind file.
		///</remarks>
        protected global::System.Web.UI.WebControls.GridView Grid<%=GetTableName(SourceTable)%>;
         
        ///<summary>
		///Add<%=GetTableName(SourceTable)%>ItemButton control.
		///</summary>
		///<remarks>
		///Auto-generated field.
		///To modify move field declaration from designer file to code-behind file.
		///</remarks>
        protected global::System.Web.UI.WebControls.Button Add<%=GetTableName(SourceTable)%>ItemButton; 
        
        ///<summary>
		///lblStatus control.
		///</summary>
		///<remarks>
		///Auto-generated field.
		///To modify move field declaration from designer file to code-behind file.
		///</remarks>
        protected global::System.Web.UI.WebControls.Label lblStatus; 
        
        ///<summary>
		///btnSearch control.
		///</summary>
		///<remarks>
		///Auto-generated field.
		///To modify move field declaration from designer file to code-behind file.
		///</remarks>
        protected global::System.Web.UI.WebControls.ImageButton btnSearch; 

#End Region

    }

}
